[Unit]
Description= Apache Kafka server in container broker0kafka
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
Type=forking
NotifyAccess=exec
ExecStartPre=/usr/local/src/kafka/bin/notif_arranque_inicio.sh
ExecStart=/usr/local/src/kafka/bin/kafka-server-start.sh /usr/local/src/kafka/config/server.properties
ExecStartPost=/usr/local/src/kafka/bin/notif_arranque_fin.sh
ExecStop=/usr/local/src/kafka/bin/kafka-server-stop.sh
SuccessExitStatus=143
Restart=on-failure
RestartSec=30
StartLimitBurst=2
StartLimitInterval=120
StartLimitAction=reboot-immediate

[Install]
WantedBy=multi-user.target
