[Unit]
Description=Apache Kafka container
Requires=network.target remote-fs.target kafka-zookeeper.service
After=network.target remote-fs.target kafka-zookeeper.service

[Service]
Type=simple
ExecStart=/usr/bin/systemd-nspawn -D /var/lib/machines/broker0kafka -b
KillMode=process

[Install]
WantedBy=multi-user.target
